

.flags {
    display: flex;
}

.main {
    margin: 100px;
    border: solid;
    width: 400px;
}

.red{
    color: red;
    height: 100px;
    width: 400px;
    background-color: red;
}

.green {
    color: green;
    height: 100px;
    width: 400px;
    margin-top: 10px;
    background-color: green;
}

.black {
    color: black;
    height: 100px;
    width: 400px;
    margin-top: 10px;
    background-color: black;
}

.gambia {
    width: 400px;
    margin: 100px;
    border: solid;
    width: 400px;
}
.red-g {
    color: red;
    height: 100px;
    width: 400px;
    background-color: red;

}

.blue-g {
    background-color: blue;
    height: 80px;
    width: 400px;
    margin-top: 20px;
}

.green-g {
    color: green;
    height: 100px;
    width: 400px;
    margin-top: 20px;
    background-color: green;
}