


.main {
    margin-top: 100px;
    justify-content: center;
    
}

.logo {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    
}

.search {
    width: 400px;
    height: 30px;
    display: block;
    
    
}