


.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

.b-main {
    display: block;
}

.logo {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    
}

.search {
    width: 400px;
    height: 30px;
    display: block;
    border-radius: 20px;
    
    
}