


.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

.b-main {
    display: block;
}

.logo {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.search {
    width: 400px;
    line-height: 24px;
    display: block;
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px; 
    padding-bottom: 10px;  
    border: 1px solid;
    
}